<div>
    <h2>
        <span jhiTranslate="gatemicroApp.localPlay.home.title">Local Plays</span>
        <button class="btn btn-primary float-right create-local-play-lotmicro" [routerLink]="['/', { outlets: { popup: ['local-play-lotmicro-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatemicroApp.localPlay.home.createLabel">
            Create new Local Play
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12 no-padding-right">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatemicroApp.localPlay.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="localPlays">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="drawDate"><span jhiTranslate="gatemicroApp.localPlay.drawDate">Draw Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="draw"><span jhiTranslate="gatemicroApp.localPlay.draw">Draw</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sumB"><span jhiTranslate="gatemicroApp.localPlay.sumB">Sum B</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sumS"><span jhiTranslate="gatemicroApp.localPlay.sumS">Sum S</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="drawType"><span jhiTranslate="gatemicroApp.localPlay.drawType">Draw Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="gameType"><span jhiTranslate="gatemicroApp.localPlay.gameType">Game Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="hash"><span jhiTranslate="gatemicroApp.localPlay.hash">Hash</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="prize"><span jhiTranslate="gatemicroApp.localPlay.prize">Prize</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="checked"><span jhiTranslate="gatemicroApp.localPlay.checked">Checked</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bonusrankid"><span jhiTranslate="gatemicroApp.localPlay.bonusrankid">Bonusrankid</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="game"><span jhiTranslate="gatemicroApp.localPlay.game">Game</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rankId"><span jhiTranslate="gatemicroApp.localPlay.rank">Rank</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bonusrankId"><span jhiTranslate="gatemicroApp.localPlay.bonusrank">Bonusrank</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let localPlay of localPlays ;trackBy: trackId">
                <td><a [routerLink]="['../local-play-lotmicro', localPlay.id ]">{{localPlay.id}}</a></td>
                <td>{{localPlay.drawDate | date:'mediumDate'}}</td>
                <td>{{localPlay.draw}}</td>
                <td>{{localPlay.sumB}}</td>
                <td>{{localPlay.sumS}}</td>
                <td>{{localPlay.drawType}}</td>
                <td jhiTranslate="{{'gatemicroApp.GameType.' + localPlay.gameType}}">{{localPlay.gameType}}</td>
                <td>{{localPlay.hash}}</td>
                <td>{{localPlay.prize}}</td>
                <td>{{localPlay.checked}}</td>
                <td>{{localPlay.bonusrankid}}</td>
                <td jhiTranslate="{{'gatemicroApp.GamesPlay.' + localPlay.game}}">{{localPlay.game}}</td>
                <td>
                    <div *ngIf="localPlay.rankId">
                        <a [routerLink]="['../rank-lotmicro', localPlay.rankId  ]" >{{localPlay.rankId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="localPlay.bonusrankId">
                        <a [routerLink]="['../bonus-rank-lotmicro', localPlay.bonusrankId  ]" >{{localPlay.bonusrankId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../local-play-lotmicro', localPlay.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'local-play-lotmicro/'+ localPlay.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'local-play-lotmicro/'+ localPlay.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
