
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myThb_historyLabel" data-translate="natmobApp.thb_history.home.createOrEditLabel">Create or edit a Thb History</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.thb_history.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.thb_history.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="natmobApp.thb_history.drawDate" for="field_drawDate">Draw Date</label>
            <input type="text" class="form-control" name="drawDate" id="field_drawDate"
                    ng-model="vm.thb_history.drawDate"
                    required ng-pattern="/(^\d\d-\w+-\d\d$)/"/>
            <div ng-show="editForm.drawDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.drawDate.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.drawDate.$error.pattern" data-translate="entity.validation.pattern" translate-value-pattern="(^\d\d-\w+-\d\d$)">
                    This field should follow pattern "(^\d\d-\w+-\d\d$)".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="natmobApp.thb_history.ball1" for="field_ball1">Ball 1</label>
            <input type="number" class="form-control" name="ball1" id="field_ball1"
                    ng-model="vm.thb_history.ball1"
                    required/>
            <div ng-show="editForm.ball1.$invalid">
                <p class="help-block"
                    ng-show="editForm.ball1.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.ball1.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="natmobApp.thb_history.ball2" for="field_ball2">Ball 2</label>
            <input type="number" class="form-control" name="ball2" id="field_ball2"
                    ng-model="vm.thb_history.ball2"
                    required/>
            <div ng-show="editForm.ball2.$invalid">
                <p class="help-block"
                    ng-show="editForm.ball2.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.ball2.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="natmobApp.thb_history.ball3" for="field_ball3">Ball 3</label>
            <input type="number" class="form-control" name="ball3" id="field_ball3"
                    ng-model="vm.thb_history.ball3"
                    required/>
            <div ng-show="editForm.ball3.$invalid">
                <p class="help-block"
                    ng-show="editForm.ball3.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.ball3.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="natmobApp.thb_history.ball4" for="field_ball4">Ball 4</label>
            <input type="number" class="form-control" name="ball4" id="field_ball4"
                    ng-model="vm.thb_history.ball4"
                    required/>
            <div ng-show="editForm.ball4.$invalid">
                <p class="help-block"
                    ng-show="editForm.ball4.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.ball4.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="natmobApp.thb_history.ball5" for="field_ball5">Ball 5</label>
            <input type="number" class="form-control" name="ball5" id="field_ball5"
                    ng-model="vm.thb_history.ball5"
                    required/>
            <div ng-show="editForm.ball5.$invalid">
                <p class="help-block"
                    ng-show="editForm.ball5.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.ball5.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="natmobApp.thb_history.thunderBall" for="field_thunderBall">Thunder Ball</label>
            <input type="number" class="form-control" name="thunderBall" id="field_thunderBall"
                    ng-model="vm.thb_history.thunderBall"
                    required/>
            <div ng-show="editForm.thunderBall.$invalid">
                <p class="help-block"
                    ng-show="editForm.thunderBall.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.thunderBall.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="natmobApp.thb_history.sumB" for="field_sumB">Sum B</label>
            <input type="number" class="form-control" name="sumB" id="field_sumB"
                    ng-model="vm.thb_history.sumB"
                    required/>
            <div ng-show="editForm.sumB.$invalid">
                <p class="help-block"
                    ng-show="editForm.sumB.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.sumB.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="natmobApp.thb_history.machine" for="field_machine">Machine</label>
            <input type="text" class="form-control" name="machine" id="field_machine"
                    ng-model="vm.thb_history.machine"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="natmobApp.thb_history.ballSet" for="field_ballSet">Ball Set</label>
            <input type="text" class="form-control" name="ballSet" id="field_ballSet"
                    ng-model="vm.thb_history.ballSet"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="natmobApp.thb_history.drawNumber" for="field_drawNumber">Draw Number</label>
            <input type="number" class="form-control" name="drawNumber" id="field_drawNumber"
                    ng-model="vm.thb_history.drawNumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="natmobApp.thb_history.hash" for="field_hash">Hash</label>
            <input type="text" class="form-control" name="hash" id="field_hash"
                    ng-model="vm.thb_history.hash"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="natmobApp.thb_history.timestamp" for="field_timestamp">Timestamp</label>
            <input type="number" class="form-control" name="timestamp" id="field_timestamp"
                    ng-model="vm.thb_history.timestamp"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
