
<div *ngIf="registeredUser">
    <h2><span jhiTranslate="gatemicroApp.registeredUser.detail.title">Registered User</span> {{registeredUser.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatemicroApp.registeredUser.userName">User Name</span></dt>
        <dd>
            <span>{{registeredUser.userName}}</span>
        </dd>
        <dt><span jhiTranslate="gatemicroApp.registeredUser.description">Description</span></dt>
        <dd>
            <span>{{registeredUser.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'registered-user-notes/'+ registeredUser.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
