<div>
    <h2 data-translate="natmobApp.tempMeter.home.title">Temp Meters</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="temp-meternotes.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="natmobApp.tempMeter.home.createLabel">
                        Create new Temp Meter
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'natmobApp.tempMeter.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="readingDate"><span data-translate="natmobApp.tempMeter.readingDate">Reading Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tempVal"><span data-translate="natmobApp.tempMeter.tempVal">Temp Val</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tank.tankName"><span data-translate="natmobApp.tempMeter.tank">Tank</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="tempMeter in vm.tempMeters track by tempMeter.id">
                    <td><a ui-sref="temp-meternotes-detail({id:tempMeter.id})">{{tempMeter.id}}</a></td>
                    <td>{{tempMeter.readingDate | date:'medium'}}</td>
                    <td>{{tempMeter.tempVal}}</td>
                    <td>
                        <a ui-sref="tanknotes-detail({id:tempMeter.tank.id})">{{tempMeter.tank.tankName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="temp-meternotes-detail({id:tempMeter.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="temp-meternotes.edit({id:tempMeter.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="temp-meternotes.delete({id:tempMeter.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
