
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myNat_historyLabel" data-translate="natmobApp.nat_history.home.createOrEditLabel">Create or edit a Nat History</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.nat_history.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.nat_history.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="natmobApp.nat_history.drawDate" for="field_drawDate">Draw Date</label>
            <input type="text" class="form-control" name="drawDate" id="field_drawDate"
                    ng-model="vm.nat_history.drawDate"
                    required ng-pattern="/(^\d\d-\w+-\d\d$)/"/>
            <div ng-show="editForm.drawDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.drawDate.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.drawDate.$error.pattern" data-translate="entity.validation.pattern" translate-value-pattern="(^\d\d-\w+-\d\d$)">
                    This field should follow pattern "(^\d\d-\w+-\d\d$)".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="natmobApp.nat_history.ball1" for="field_ball1">Ball 1</label>
            <input type="number" class="form-control" name="ball1" id="field_ball1"
                    ng-model="vm.nat_history.ball1"
                    required/>
            <div ng-show="editForm.ball1.$invalid">
                <p class="help-block"
                    ng-show="editForm.ball1.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.ball1.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="natmobApp.nat_history.ball2" for="field_ball2">Ball 2</label>
            <input type="number" class="form-control" name="ball2" id="field_ball2"
                    ng-model="vm.nat_history.ball2"
                    required/>
            <div ng-show="editForm.ball2.$invalid">
                <p class="help-block"
                    ng-show="editForm.ball2.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.ball2.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="natmobApp.nat_history.ball3" for="field_ball3">Ball 3</label>
            <input type="number" class="form-control" name="ball3" id="field_ball3"
                    ng-model="vm.nat_history.ball3"
                    required/>
            <div ng-show="editForm.ball3.$invalid">
                <p class="help-block"
                    ng-show="editForm.ball3.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.ball3.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="natmobApp.nat_history.ball4" for="field_ball4">Ball 4</label>
            <input type="number" class="form-control" name="ball4" id="field_ball4"
                    ng-model="vm.nat_history.ball4"
                    required/>
            <div ng-show="editForm.ball4.$invalid">
                <p class="help-block"
                    ng-show="editForm.ball4.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.ball4.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="natmobApp.nat_history.ball5" for="field_ball5">Ball 5</label>
            <input type="number" class="form-control" name="ball5" id="field_ball5"
                    ng-model="vm.nat_history.ball5"
                    required/>
            <div ng-show="editForm.ball5.$invalid">
                <p class="help-block"
                    ng-show="editForm.ball5.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.ball5.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="natmobApp.nat_history.ball6" for="field_ball6">Ball 6</label>
            <input type="number" class="form-control" name="ball6" id="field_ball6"
                    ng-model="vm.nat_history.ball6"
                    required/>
            <div ng-show="editForm.ball6.$invalid">
                <p class="help-block"
                    ng-show="editForm.ball6.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.ball6.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="natmobApp.nat_history.bonusBall" for="field_bonusBall">Bonus Ball</label>
            <input type="number" class="form-control" name="bonusBall" id="field_bonusBall"
                    ng-model="vm.nat_history.bonusBall"
                    required/>
            <div ng-show="editForm.bonusBall.$invalid">
                <p class="help-block"
                    ng-show="editForm.bonusBall.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.bonusBall.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
